* {
  margin: 0px;
}
.header{
  position: fixed;
  top: 0px;
  z-index: 1000000;
  width: 100%;
}
.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #003F62;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #FFA903;
}

.header1_wrap {
  width: 85%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.hi_2 {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 55%;
  /* background-color: white; */
}

.input {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 80%;
  border-radius: 20px;
}

.input input {
  width: 90%;
  outline: none;
  border: none;
  background-color: inherit;
}

.hl_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  color: white;
  font-size: 1em;
}





.header2_wrap {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catigories{
display: flex;
align-items: center;
gap: 20px;
}