* {
  margin: 0px;
}

.header {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #003F62;
}


.header1_wrap {
  width: 85%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.hi_2 {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 55%;

}

.input {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 60%;
  border-radius: 20px;
}

.input input {
  width: 90%;
  outline: none;
  border: none;
  background-color: inherit;
}

.hl_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  color: white;
  font-size: 1em;
}

.hl_2 p {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #FFA903;
}

.header2_wrap {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catigories {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile_menu {
  display: none;
}

.mobile_logo {
  display: none;
}

@media screen and (max-width:425px) {

  .header {
    display: flex;
    flex-direction: column-reverse;
  }

  .header1_wrap {
    width: 95%;
  }

  .hi_2 {
    display: none;
  }

  .catigories {
    display: none;
  }

  .header2_wrap {
    width: 95%;
  }

  .mobile_menu {
    display: flex;
    color: #f8f8f8;
  }

  .hl_2 {
    display: none;
  }
  .mobile_logo{
    display: flex;
  }
}