* {
  margin: 0px;
}

.header {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #003F62;
}


.header1_wrap {
  width: 85%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.hi_2 {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 55%;

}

.input {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 60%;
  border-radius: 20px;
}

.input input {
  width: 90%;
  outline: none;
  border: none;
  background-color: inherit;
}

.hl_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  color: white;
  font-size: 1em;
  /* background-color: grey; */
}

.hl_2 p {
  cursor: pointer;
}

.hl_2 p:hover {
  transform: scale(1.3);
  transition: 1.2s;
  height: 100%;
  /* color:black */
}

.adm:hover {
  transform: scale(1.1);
  /* color:black */
  transition: 1.2s;
}

.pointer {
  cursor: pointer;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #FFA903;
}

.header2_wrap {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catigories {
  display: flex;
  align-items: center;
  gap: 20px;
}



.mobile_logo {
  display: none;
}

.categories {
  transition: 1.2s;
  width: 65%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -170px;
  font-size: 16px;
}

.categories p:hover {
  transform: scale(1.3);
  transition: 1.2s;
  color: #003F62;
}

.mobile_menu {
  display: none;
}

.mobile_sidebar {
  display: none;
}

.mobile_sidebar_cont {
  display: none;
}

.mobile_cart {
  display: none;
}

.mobile_input {
  display: none;
}
.mobile_nav{
  display: none;
}
@media screen and (max-width:425px) {

  .header {
    /* display: block; */
    /* flex-direction: column-reverse; */
  }

  .header1_wrap {
    width: 90%;
  }

  .hi_2 {
    display: none;
  }

  .catigories {
    display: none;
  }

  .header2_wrap {
    width: 95%;
  }

  .hl_2 {
    display: none;
  }

  .mobile_logo {
    display: flex;
  }

  .mobile_menu {
    display: flex;
    margin: 10px 20px;
    color: #003F62;
  }

  .mobile_sidebar_close {
    width: 100%;
    border-bottom: 1px solid #b2b1b1;
    display: flex;
    align-items: center;
    gap: 50%;
    padding: 5px;
  }

  .mobile_sidebar_close_wrap {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile_sidebar_cont {
    display: flex;
    width: 100%;
    top: 60px;
    left: 0px;
    position:absolute;
    /* background-color: red; */
  }

  .mobile_sidebar {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #025481;
    color: #f8f8f8;
  }

  .mobile_sidebar_wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
    /* background-color: grey; */
  }

  
  .All_category {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .mobile_sidebar_invisible {
    width: 40%;
    height: 100vh;
    background-color: red;
    backdrop-filter: blur(2.1px);
    background: rgba(255, 255, 255, 0.3);
  }

  .mobile_sidebar_wrap_profile {
    width: 80%;
  }

  .mobile_cart {
    display: flex;
    font-size: 16px;
    color: #f8f8f8;
  }

  .mobile_input {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 70%;
    border-radius: 20px;
    /* position: absolute; */
  }

  .mobile_input input {
    width: 85%;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: inherit;

  }
  .mobile_nav{
    width: 35%;
    color: #f8f8f8;
    display: flex;
    align-items: center;
   justify-content: space-between;
   /* font-size: 20px; */
  }
}