* {
  box-sizing: border-box;
}

.cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_wrap {
  width: 85%;
  /* background-color: grey; */
  /* margin-top: 30px; */
}

.cart_card_wrap {
  background-color: white;
  width: 60%;
}

.cart_head {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #B3D4E5;
  border-bottom: 1px solid rgb(180, 177, 177);
}

.cart_card {
  border-bottom: 1px solid rgb(180, 177, 177);
  padding-bottom: 7px;
}

.cart_card_top {
  display: flex;
  /* align-items: center; */
  /* background-color: grey; */
  padding: 10px 15px 0px;
  gap: 55px;
}

.cart_card_top_text {
  /* background-color: white; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.cart_image {
  width: 150px;
  height: 80px
}

.cart_card_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.cart_delete {
  background-color: #FFA903;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.cart_card_middel_navs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart_change {
  background-color: #FFA903;
  border: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 20px;
  height: 20px;
  font-weight: 500;
}

.cart_card_buttom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.cart_checkout {
  background-color: #FFA903;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width:425px) {
  .cart_wrap {
    width: 100%;
    /* background-color: grey; */
    margin-top: 30px;
  }

  .cart_card_top {
    display: flex;
    padding: 10px 15px 0px;
    gap: 10px;
  }

  .cart_image {
    width: 100px;
    height: 70px
  }

  .cart_card_wrap {
    background-color: white;
    
    width: 100%;
  }
  .cart_card_top_text{
    font-size: 11px;
    display: flex;
    gap: 5px;
    width: 200px;
  }
}