.alert {
  background-color: rgb(255, 255, 255, 30%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 2000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert_wrap {
  width: 30%;
  height: 30%;
  background-color: #fbe9c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.alert_button_wrap {
  width: 80%;
  height: 30%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert_button1 {
  width: 40%;
  height: 70%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid red;
  font-size: 100%;
  font-weight: 600;
}

.alert_button1:hover {
  background-color: red;
  color: white;
  transform: scale(1.1);
  transition: 1s;
}

.alert_button2 {
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: #003F62;
  color: #f8f8f8;
  font-size: 100%;
  font-weight: 600;
}

.alert_button2:hover {
  transform: scale(1.1);
  transition: 1s;
}

.cartAlert {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 110px;
  left: 0px;
  background-color: #6DBD28;
  color: white;
  z-index: 300000;
}

@media screen and (width <=768px) {
  .alert_wrap {
    width: 80%;
  }
}