* {
  margin: 0px;
  box-sizing: border-box;
}

.admin_dashboard {
  width: 100%;
  height: 100vh;
  background-color: #F4FBFF;
}

.admin_dashboard_head {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: grey; */
}

.admin_dashboard_head_wrap {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_dashboard_input {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 50%;
  border-radius: 20px;
  border: 1px solid rgb(192, 189, 189);
}

.admin_dashboard_input input {
  width: 95%;
  outline: none;
  border: none;
  background-color: inherit;
}

.admin_dashboard_body {
  width: 100%;
  height: 90%;
  display: flex;

}

.admin_dashboard_body_left {
  background-color: #003F62;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.admin_dashboard_body_left_wrap {
  /* background-color: grey; */
  width: 80%;
  display: flex;
  flex-direction: column;
  color: #f8f8f8;
  gap: 60px;
  height: 90%;
}

.admin_navs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.admin_navs_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.admin_dashboard_profile {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: start;
}

.admin_logout {
  display: flex;
  gap: 10px;
}

.admin_dashboard_body_right_head_wrap button {
  /* display: flex; */
  border: none;
  height: 45px;
  width: 100px;
  border-radius: 10px;
  background-color: #FFA903;
  font-size: 20px;
  font-weight: 600;
}

.admin_dashboard_head_wrap_mobile {
  display: none;
}

@media screen and (max-width:768px) {
  .admin_dashboard_head {
    position: fixed;
    top: 0px;
    left: 0.1px;
    backdrop-filter: blur(5.4px);
    background: rgba(235, 234, 234, 0.27);
  }

  .admin_dashboard_body {
    margin-top: 70px;
  }

  .admin_dashboard_head_wrap {
    display: none;
  }

  .admin_dashboard_body_left {
    display: none;
  }

  .admin_dashboard_body_right {
    /* background-color: grey; */
    width: 100%;
    height: 100%;
  }

  .admin_dashboard_body_right_head {
    background-color: white;
    height: 10%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    box-shadow: -2px 10px 5px -8px rgba(208, 208, 208, 0.75);
  }

  .admin_dashboard_body_right_head_wrap{
    margin-left: 0px;
  }
  .admin_dashboard_head_wrap_mobile {
    width: 90%;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
  }

  .admin_dashboard_head_wrap_mobile_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: grey; */
    width: 75%;
  }

  .admin_dashboard_input {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 75%;
    border-radius: 20px;
    border: 1px solid rgb(192, 189, 189);
  }

  .admin_dashboard_input input {
    width: 85%;
    outline: none;
    border: none;
    background-color: inherit;
  }

  .admin_mobile_dashboard_body_left_cont {
    width: 100%;
    position: absolute;
    top: 73px;
    left: 0.1px;
    background: rgba(255, 255, 255, 0.7);
   backdrop-filter: blur(2.9px);
  }

  .admin_mobile_dashboard_body_left {
    background-color: #003F62;
    width: 60%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .admin_mobile_dashboard_body_left_wrap {
    /* background-color: grey; */
    width: 80%;
    display: flex;
    flex-direction: column;
    color: #f8f8f8;
    gap: 60px;
    height: 90%;
  }

  .admin_mobile_navs {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .admin_mobile_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }

  .admin_mobile_dashboard_profile {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: start;
  }

  .admin_mobile_logout {
    display: flex;
    gap: 10px;
  }

}